@import url(reset.css);
@font-face {
  font-family: "Vcr_Osd_Mono";
  src: url("font/VCR_OSD_MONO.woff2") format("woff2");
}

/*@font-face {
  font-family: "Vcr_Osd_Mono";
  src: url("./font/VCR_OSD_MONO_1.001.ttf") format("truetype");
}
*/
@font-face {
  font-family: "PAC-FONT";
  src: url("./font/PAC-FONT.TTF") format("truetype");
}
/*
DEFAULT SPRITE
.sprite {width: 45px; height: 45px;object-fit: none;}
.sprite.menu { object-position: 0 0;}
.sprite.twitter { object-position: -74px 0;}
.sprite.facebook { object-position: -148px 0;}
.sprite.instagram { object-position: -222px 0;}
.sprite.linkedin { object-position: -296px 0;}
*/
.loader {
  position: fixed;
  z-index: 99;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  cursor: wait;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center;
}

.displayBlock {
  z-index: 10;
  display: block;
  position: absolute;
  top: 104px;
  left: 0;
  width: 100%;
  height: 100vh;
}

.displayBlock li {
  text-align: center;
}

.displayNone {
  display: none;
}

/***********************************/
/*             DEFAULT             */
/*            TELEPHONE            */
/***********************************/
html, body {
  width: 100%;
  height: 100vh;
  margin: 0px;
  padding: 0px;
}

html {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

h1, h2, h3, h4, h5, h6, p, li, ul, span, label, input, textarea {
  list-style: none;
  text-decoration: none;
  margin: 0px;
  padding: 0px;
}

.navigation > ul {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center;
  padding: 20px;
}

.icone {
  width: 64px;
  height: 64px;
}

main {
  margin-top: 65vh;
}

.ContenuAPropos, .ContenuContact {
  padding-top: 10vh;
  display: block;
  min-height: 60vh;
  height: auto;
}

.ContenuAPropos h2, .ContenuContact h2 {
  text-align: center;
}

.ContenuAPropos div p, .ContenuContact div p {
  margin: 30px;
}

.ContenuAPropos div ul,  .ContenuContact div ul {
  margin: auto;
  max-width: 100%;
  width: 90%;
}

.ContenuAPropos div ul li, .ContenuContact div ul li {
  width: 100%;
}

.ContenuAPropos .ContenuAPropos div ul li, .ContenuContact .ContenuAPropos div ul li {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
      justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center;
}

.ContenuAPropos .ContenuAPropos div ul li p, .ContenuContact .ContenuAPropos div ul li p {
  margin: 10px;
}

.ContenuContact div ul li {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center;
}

.ContenuContact div ul li p {
  margin: 10px;
}

.ContenuContact div ul li label {
  margin: 10px;
}

.ContenuContact div ul li input[type="checkbox"] {
  width: 10px;
}

.ContenuContact div ul li input[type="submit"] {
  width: 100px;
  border-radius: 8px;
  padding: 15px;
}

.ContenuContact div ul li input, .ContenuContact div ul li textarea {
  width: 150px;
}

.ContenuContact div ul .center {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center;
}

.arrow-wrap {
  margin: auto;
  max-width: 100%;
  width: 10em;
  margin-top: 20vh;
  margin-bottom: 20vh;
  background: #111;
  height: 10em;
  padding: 4em 2em;
  border-radius: 50%;
  font-size: 0.5em;
  display: block;
  box-shadow: 0px 0px 5px 0px #F9F9F9;
}

.arrow {
  float: left;
  position: relative;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 3em 3em 0 3em;
  border-color: #ffffff transparent transparent transparent;
  -webkit-transform: rotate(360deg);
}

.arrow:after {
  content: '';
  position: absolute;
  top: -3.2em;
  left: -3em;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 3em 3em 0 3em;
  border-color: #111 transparent transparent transparent;
  -webkit-transform: rotate(360deg);
}

.titleLi {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center;
}

.titleLi h4, .titleLi h3 {
  text-decoration: underline;
  text-align: center;
}

hr {
  width: 20%;
}

footer {
  margin: auto;
  max-width: 100%;
  width: 95%;
}

#EE1 {
  color: yellow;
  font-family: "PAC-FONT";
}

#EE2 {
  color: white;
  font-family: "PAC-FONT";
}

#EE3 {
  color: cornflowerblue;
  font-family: "PAC-FONT";
}

.etatEE {
  display: block;
}

/***********************************/
/*             TABLETTE            */
/***********************************/
@media screen and (min-width: 768px) {
  .ContenuAPropos div, .ContenuContact div {
    margin: auto;
    max-width: 100%;
    width: 80%;
  }
  .ContenuAPropos div ul, .ContenuContact div ul {
    margin: auto;
    max-width: 100%;
    width: 80%;
  }
  .ContenuAPropos div ul li, .ContenuContact div ul li {
    width: 100%;
  }
  .ContenuAPropos div ul li label, .ContenuContact div ul li label {
    width: 25%;
  }
  .ContenuAPropos div ul li input, .ContenuAPropos div ul li textarea, .ContenuContact div ul li input, .ContenuContact div ul li textarea {
    width: 75%;
  }
  .ContenuAPropos div ul .center, .ContenuContact div ul .center {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-align: center;
        align-items: center;
  }
  hr {
    margin: auto;
    max-width: 100%;
    width: 75%;
  }
  .etatEE {
    display: none;
  }
}

/***********************************/
/*             DESKTOP             */
/***********************************/
@media screen and (min-width: 992px) {
  html {
    background-size: cover;
    background-position: center;
  }
  .displayBlock {
    padding-top: 80px;
  }
  .displayBlock li {
    margin: 20px;
  }
  .ContenuAPropos div, .ContenuContact div {
    margin: auto;
    max-width: 100%;
    width: 50%;
  }
  .ContenuAPropos div ul li, .ContenuContact div ul li {
    width: 100%;
  }
  .ContenuAPropos div ul li label, .ContenuContact div ul li label {
    width: 25%;
  }
  .ContenuAPropos div ul li input, .ContenuAPropos div ul li textarea, .ContenuContact div ul li input, .ContenuContact div ul li textarea {
    width: 75%;
  }
  .ContenuAPropos div ul .center, .ContenuContact div ul .center {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-align: center;
        align-items: center;
  }
}

/***********************************/
/*               TV                */
/***********************************/

/*# sourceMappingURL=Folio_v2.css.map */
