
.cluster_cards {
    display: grid;
    grid-gap: 4px;
    grid-template-columns: 1fr;
    grid-template-rows: 212px repeat(4,minmax(110px,auto));
    list-style: none;
    margin: 0;
    padding: 0;
}
.cluster_cards li:first-child {
    grid-column: 1;
    grid-row: 1;
}
@media screen and (min-width: 767px) {
    .cluster_cards {
        grid-gap: 23px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(2,minmax(198px,auto));
        padding: 0 44px;
    }

    .cluster_cards li {
        box-sizing: border-box;
        position: relative;
    }

    .cluster_cards li:first-child {
        grid-row: 1/span 2;
    }
}